<!DOCTYPE html>
<html lang="en">
<head>
    <title>already added</title>
    <%- include('../layouts/head') %> 

</head>
<body>

    <header>

        <%- include('../layouts/header') %> 


    </header>

    <main>
        <h3>
            Already Added, Please Add another Product.
        </h3>
    </main>

    <footer>
        <%- include('../layouts/footer') %> 
    </footer>
    
</body>
</html>